.search__error {
  font: normal 400 12px Inter, Arial, Helvetica;

  margin: 0;
  position: absolute;
  color: #f0d7d7;
  top: -25px;
  padding: 3px;
}

@media screen and (max-width: 600px) {
  .search__error {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    left: calc((100vw - 320px) / (600 - 320) * (60 - 5) + 5px);
    left: 5px 60px;
  }
}
