.search-form__button {
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);

  width: 176px;
  height: 64px;

  margin-left: -135px;

  z-index: 1;
  border: none;
}

@media screen and (max-width: 1440px) {
  .search-form__button {
    height: calc((100vw - 768px) / (1440 - 768) * (64 - 56) + 56px);
  }
}

@media screen and (max-width: 768px) {
  .search-form__button {
    height: 56px;
  }
}

@media screen and (max-width: 600px) {
  .search-form__button {
    width: 100%;

    margin: 0 auto;

    position: relative;
  }
}
