.footer__links-box {
  display: flex;
}

@media screen and (max-width: 750px) {
  .footer__links-box {
    width: 100%;
    margin-top: 32px;
  }
}

@media screen and (max-width: 750px) {
  .footer__links-box_articles {
    width: 100%;
    margin-top: -15px;
  }
}
