@import '_invisible/cards__button_invisible.css';

.cards__button {
  padding: 0;
  margin: 62px auto 48px;

  height: 64px;
  width: 100%;
  max-width: 288px;

  color: #1a1b22;
  background: #fff;
}

@media screen and (max-width: 1440px) {
  .cards__button {
    margin: calc((100vw - 768px) / (1440 - 768) * (62 - 36) + 36px) auto
      calc((100vw - 768px) / (1440 - 768) * (48 - 8) + 8px);

    max-width: calc((100vw - 768px) / (1440 - 768) * (288 - 240) + 240px);

    height: calc((100vw - 768px) / (1440 - 768) * (64 - 56) + 56px);
  }
}

@media screen and (max-width: 768px) {
  .cards__button {
    margin: calc((100vw - 320px) / (768 - 320) * (36 - 14) + 14px) auto
      calc((100vw - 320px) / (768 - 320) * (8 - 0) + 0px);

    max-width: calc((100vw - 320px) / (768 - 320) * (240 - 288) + 288px);
  }
}
